## the idea
V1

the idea here is to remove samples with <5 detected cell patches.

then we only consider samples with detection from 5 to 12

next from the rest for the dataframe (13 to inf) we only select samples with one class 


the idea here is to go easy on the model by not confusing it a lot . here if we have 80+ detection aieth three class 1,2,3 how can the model, dataloader be aware of what to put in the random cell with all three class. this is not easy so its better to downsample in the following

In [1]:
# starting with minimum area of 30000. lets see how it goes

In [28]:
import pandas as pd
import numpy as np

In [3]:
train_df = pd.read_csv('../data/cell_mask_study_30000.csv')

In [6]:
print(train_df.shape)
train_df.head()

(21806, 25)

,Unnamed: 0,ID,Label,0,1,2,3,4,5,6,...,12,13,14,15,16,17,18,fold,total_cell_mask,selected_cells
0,0,5c27f04c-bb99-11e8-b2b9-ac1f6b6435d0,8|5|0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,8,7
1,1,5fb643ee-bb99-11e8-b2b9-ac1f6b6435d0,14|0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,15,15
2,2,60b57878-bb99-11e8-b2b9-ac1f6b6435d0,6|1,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,2,17,16
3,3,5c1a898e-bb99-11e8-b2b9-ac1f6b6435d0,16|10,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,2,17,17
4,4,5b931256-bb99-11e8-b2b9-ac1f6b6435d0,14|0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,45,43

In [22]:
filtered_df_13_less = train_df[(train_df['selected_cells'] >4) & (train_df['selected_cells'] < 13)] 
print(filtered_df_13_less.shape)
filtered_df_13_less.head()

(4627, 25)

,Unnamed: 0,ID,Label,0,1,2,3,4,5,6,...,12,13,14,15,16,17,18,fold,total_cell_mask,selected_cells
0,0,5c27f04c-bb99-11e8-b2b9-ac1f6b6435d0,8|5|0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,8,7
5,5,5e22a522-bb99-11e8-b2b9-ac1f6b6435d0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,4,10,9
7,7,5c68183e-bb99-11e8-b2b9-ac1f6b6435d0,13|0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,4,10,10
21,21,6074a6a4-bb99-11e8-b2b9-ac1f6b6435d0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,5,5
24,24,643f73a4-bb99-11e8-b2b9-ac1f6b6435d0,14,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,2,12,12

In [23]:
filtered_13_high = train_df[train_df['selected_cells'] >=13]
print(filtered_13_high.shape)
filtered_13_high.head()

(17127, 25)

,Unnamed: 0,ID,Label,0,1,2,3,4,5,6,...,12,13,14,15,16,17,18,fold,total_cell_mask,selected_cells
1,1,5fb643ee-bb99-11e8-b2b9-ac1f6b6435d0,14|0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,15,15
2,2,60b57878-bb99-11e8-b2b9-ac1f6b6435d0,6|1,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,2,17,16
3,3,5c1a898e-bb99-11e8-b2b9-ac1f6b6435d0,16|10,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,2,17,17
4,4,5b931256-bb99-11e8-b2b9-ac1f6b6435d0,14|0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,45,43
6,6,5f79a114-bb99-11e8-b2b9-ac1f6b6435d0,14,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,4,15,15

In [35]:

filtered_13_high['is_single'] = filtered_13_high[[str(i) for i in range(0,18)]].apply(np.sum, axis=1)
filtered_13_high.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Unnamed: 0,ID,Label,0,1,2,3,4,5,6,...,13,14,15,16,17,18,fold,total_cell_mask,selected_cells,is_single
1,1,5fb643ee-bb99-11e8-b2b9-ac1f6b6435d0,14|0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,1,15,15,2
2,2,60b57878-bb99-11e8-b2b9-ac1f6b6435d0,6|1,0,1,0,0,0,0,1,...,0,0,0,0,0,0,2,17,16,2
3,3,5c1a898e-bb99-11e8-b2b9-ac1f6b6435d0,16|10,0,0,0,0,0,0,0,...,0,0,0,1,0,0,2,17,17,2
4,4,5b931256-bb99-11e8-b2b9-ac1f6b6435d0,14|0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,45,43,2
6,6,5f79a114-bb99-11e8-b2b9-ac1f6b6435d0,14,0,0,0,0,0,0,0,...,0,1,0,0,0,0,4,15,15,1

In [37]:
filtered_13_high_single_class = filtered_13_high[filtered_13_high['is_single'] ==1]
print(filtered_13_high_single_class.shape)
filtered_13_high_single_class.head()

(8385, 26)

,Unnamed: 0,ID,Label,0,1,2,3,4,5,6,...,13,14,15,16,17,18,fold,total_cell_mask,selected_cells,is_single
6,6,5f79a114-bb99-11e8-b2b9-ac1f6b6435d0,14,0,0,0,0,0,0,0,...,0,1,0,0,0,0,4,15,15,1
9,9,5c801c04-bb99-11e8-b2b9-ac1f6b6435d0,14,0,0,0,0,0,0,0,...,0,1,0,0,0,0,3,17,16,1
10,10,5e9afd56-bb99-11e8-b2b9-ac1f6b6435d0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,4,89,66,1
11,11,5f1af6b4-bb99-11e8-b2b9-ac1f6b6435d0,3,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,23,22,1
13,13,5fb9edb4-bb99-11e8-b2b9-ac1f6b6435d0,9,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2,25,25,1

In [39]:
filtered_full = pd.concat([filtered_df_13_less, filtered_13_high_single_class])
print(filtered_full.shape)
filtered_full.head()

(13012, 26)

,Unnamed: 0,ID,Label,0,1,2,3,4,5,6,...,13,14,15,16,17,18,fold,total_cell_mask,selected_cells,is_single
0,0,5c27f04c-bb99-11e8-b2b9-ac1f6b6435d0,8|5|0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,1,8,7,NaN
5,5,5e22a522-bb99-11e8-b2b9-ac1f6b6435d0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,4,10,9,NaN
7,7,5c68183e-bb99-11e8-b2b9-ac1f6b6435d0,13|0,1,0,0,0,0,0,0,...,1,0,0,0,0,0,4,10,10,NaN
21,21,6074a6a4-bb99-11e8-b2b9-ac1f6b6435d0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,5,5,NaN
24,24,643f73a4-bb99-11e8-b2b9-ac1f6b6435d0,14,0,0,0,0,0,0,0,...,0,1,0,0,0,0,2,12,12,NaN

In [40]:
filtered_full.columns

Index(['Unnamed: 0', 'ID', 'Label', '0', '1', '2', '3', '4', '5', '6', '7',
       '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', 'fold',
       'total_cell_mask', 'selected_cells', 'is_single'],
      dtype='object')

In [42]:
filtered_full = filtered_full.drop(['Unnamed: 0'], axis = 1)

In [43]:
filtered_full.to_csv('../data/train_fold_v1.csv')

## we add teh fold split using data_splitter.py 

## after fold split analysis

In [44]:
train_df = pd.read_csv('../data/train_fold_v1.csv')

In [46]:
train_df.groupby('fold').count()

,Unnamed: 0,Unnamed: 0.1.1,ID,Label,0,1,2,3,4,5,...,12,13,14,15,16,17,18,total_cell_mask,selected_cells,is_single
fold,,,,,,,,,,,,,,,,,,,,,
0,2561,2561,2561,2561,2561,2561,2561,2561,2561,2561,...,2561,2561,2561,2561,2561,2561,2561,2561,2561,1615
1,2620,2620,2620,2620,2620,2620,2620,2620,2620,2620,...,2620,2620,2620,2620,2620,2620,2620,2620,2620,1699
2,2607,2607,2607,2607,2607,2607,2607,2607,2607,2607,...,2607,2607,2607,2607,2607,2607,2607,2607,2607,1650
3,2606,2606,2606,2606,2606,2606,2606,2606,2606,2606,...,2606,2606,2606,2606,2606,2606,2606,2606,2606,1698
4,2618,2618,2618,2618,2618,2618,2618,2618,2618,2618,...,2618,2618,2618,2618,2618,2618,2618,2618,2618,1723