In [1]:
import pandas as pd
import numpy as np
import os
import cv2
import matplotlib.pyplot as plt

In [ ]:
train_df = pd.read_csv('../data/cell_mask_study_30000.csv')

In [ ]:
filtered_df_13_less = train_df[(train_df['selected_cells'] >4) & (train_df['selected_cells'] < 13)] 
print(filtered_df_13_less.shape)
filtered_df_13_less.head()

In [ ]:
filtered_13_high = train_df[train_df['selected_cells'] >=13]
print(filtered_13_high.shape)
filtered_13_high.head()

In [ ]:
filtered_13_high['is_single'] = filtered_13_high[[str(i) for i in range(0,18)]].apply(np.sum, axis=1)
filtered_13_high.head()

In [ ]:
filtered_13_high_single_class = filtered_13_high[filtered_13_high['is_single'] ==1]
print(filtered_13_high_single_class.shape)
filtered_13_high_single_class.head()

In [ ]:
filtered_full = pd.concat([filtered_df_13_less, filtered_13_high_single_class])
print(filtered_full.shape)
filtered_full.head()

In [ ]:
filtered_full = filtered_full.drop(['Unnamed: 0'], axis = 1)
filtered_full.to_csv('../data/train_fold_v1.csv', index = False)

### now we will increase this 13 to 20. lets see how this improved my model

In [6]:
train_df = pd.read_csv('../data/cell_mask_study_30000.csv')

TOP = 21

filtered_df_13_less = train_df[(train_df['selected_cells'] >4) & (train_df['selected_cells'] < TOP)] 


filtered_13_high = train_df[train_df['selected_cells'] >=TOP]
filtered_13_high['is_single'] = filtered_13_high[[str(i) for i in range(0,18)]].apply(np.sum, axis=1)
filtered_13_high_single_class = filtered_13_high[filtered_13_high['is_single'] ==1]

filtered_full = pd.concat([filtered_df_13_less, filtered_13_high_single_class])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [8]:
from iterstrat.ml_stratifiers import MultilabelStratifiedKFold

SEED = 1
FOLDS = 3

labels = [str(i) for i in range(19)]

filtered_full = filtered_full.reset_index(drop = True)

skf = MultilabelStratifiedKFold(n_splits=FOLDS, shuffle=True, 
          random_state=SEED)

filtered_full['fold'] = -1
for fold,(idxT,idxV) in enumerate( skf.split(filtered_full,filtered_full[labels].values)):
    filtered_full['fold'][idxV] = fold

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:72: FutureWarning: Pass shuffle=True, random_state=1 as keyword args. From version 1.0 (renaming of 0.25) passing these as positional arguments will result in an error
  "will result in an error", FutureWarning)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

In [9]:
print(filtered_full.shape)
filtered_full.head()

(17773, 26)

,Unnamed: 0,ID,Label,0,1,2,3,4,5,6,...,13,14,15,16,17,18,fold,total_cell_mask,selected_cells,is_single
0,0,5c27f04c-bb99-11e8-b2b9-ac1f6b6435d0,8|5|0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,2,8,7,NaN
1,1,5fb643ee-bb99-11e8-b2b9-ac1f6b6435d0,14|0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,1,15,15,NaN
2,2,60b57878-bb99-11e8-b2b9-ac1f6b6435d0,6|1,0,1,0,0,0,0,1,...,0,0,0,0,0,0,2,17,16,NaN
3,3,5c1a898e-bb99-11e8-b2b9-ac1f6b6435d0,16|10,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,17,17,NaN
4,5,5e22a522-bb99-11e8-b2b9-ac1f6b6435d0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,10,9,NaN

In [10]:
filtered_full = filtered_full.drop(['Unnamed: 0'], axis = 1)
filtered_full.to_csv('../data/train_fold_v4.csv', index = False)

# further increasing the data to all

In [11]:
train_df = pd.read_csv('../data/cell_mask_study_30000.csv')

filtered_full = train_df[(train_df['selected_cells'] >4) ]

In [12]:
from iterstrat.ml_stratifiers import MultilabelStratifiedKFold

SEED = 1
FOLDS = 3

labels = [str(i) for i in range(19)]

filtered_full = filtered_full.reset_index(drop = True)

skf = MultilabelStratifiedKFold(n_splits=FOLDS, shuffle=True, 
          random_state=SEED)

filtered_full['fold'] = -1
for fold,(idxT,idxV) in enumerate( skf.split(filtered_full,filtered_full[labels].values)):
    filtered_full['fold'][idxV] = fold

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:72: FutureWarning: Pass shuffle=True, random_state=1 as keyword args. From version 1.0 (renaming of 0.25) passing these as positional arguments will result in an error
  "will result in an error", FutureWarning)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

In [13]:
print(filtered_full.shape)
filtered_full.head()
filtered_full = filtered_full.drop(['Unnamed: 0'], axis = 1)
filtered_full.to_csv('../data/train_fold_v5.csv', index = False)

(21754, 25)

## removing duplicates from the csv

In [66]:
## lets load the csv 
hpa_duplicates = pd.read_csv('../data/hpa_duplicates.csv')
train_df = pd.read_csv('../data/train.csv')
hpa_duplicates.head()

,image1,image2,score
0,641a0682-bbb7-11e8-b2ba-ac1f6b6435d0,2be24582-bbb1-11e8-b2ba-ac1f6b6435d0,0
1,c9c5e154-bb9e-11e8-b2b9-ac1f6b6435d0,8d1222cc-bbb2-11e8-b2ba-ac1f6b6435d0,4
2,ef9a8a30-bbc9-11e8-b2bc-ac1f6b6435d0,1d02911a-bba8-11e8-b2ba-ac1f6b6435d0,8
3,d5bb3b2a-bb9f-11e8-b2b9-ac1f6b6435d0,938dd144-bbb4-11e8-b2ba-ac1f6b6435d0,0
4,9f31c1e4-bbc4-11e8-b2bc-ac1f6b6435d0,8ddc608a-bbb4-11e8-b2ba-ac1f6b6435d0,8

In [68]:
print(train_df.shape)
train_df.head()

(21806, 2)

                                     ID  Label
0  5c27f04c-bb99-11e8-b2b9-ac1f6b6435d0  8|5|0
1  5fb643ee-bb99-11e8-b2b9-ac1f6b6435d0   14|0
2  60b57878-bb99-11e8-b2b9-ac1f6b6435d0    6|1
3  5c1a898e-bb99-11e8-b2b9-ac1f6b6435d0  16|10
4  5b931256-bb99-11e8-b2b9-ac1f6b6435d0   14|0

In [58]:
hpa_duplicate_score_0 = hpa_duplicates[hpa_duplicates['score']==0]

In [62]:
hpa_duplicate_score_0.shape

(94, 3)

In [89]:
img1_vals = train_df[train_df['ID'].isin(hpa_duplicate_score_0['image1'].values)][['ID','Label']]
img2_vals = train_df[train_df['ID'].isin(hpa_duplicate_score_0['image2'].values)][['ID','Label']]

In [100]:
img1_vals = img1_vals.rename(columns = {'ID':'image1','Label':'img1_label'})
img2_vals = img2_vals.rename(columns = {'ID':'image2','Label':'img2_label'})

In [101]:
img2_vals.head()

                                    image2 img2_label
104   938c28a0-bb99-11e8-b2b9-ac1f6b6435d0     9|2|13
466   61690e8c-bb9a-11e8-b2b9-ac1f6b6435d0          2
906   54737086-bb9b-11e8-b2b9-ac1f6b6435d0        2|0
1363  6f896e06-bb9c-11e8-b2b9-ac1f6b6435d0          5
1375  79161d98-bb9c-11e8-b2b9-ac1f6b6435d0        7|0

In [103]:
hpa_duplicate_score_0 = hpa_duplicate_score_0.merge(img1_vals, on='image1')
hpa_duplicate_score_0 = hpa_duplicate_score_0.merge(img2_vals, on='image2')

In [105]:
hpa_duplicate_score_0.to_csv('../data/hpa_duplicates_0.csv')

### now we will increase this 20 to 35. lets see how this improved my model
we will remove the duplicate images before doing the the extraction steps

In [108]:
train_df = pd.read_csv('../data/cell_mask_study_30000.csv')
hpa_duplicates = pd.read_csv('../data/hpa_duplicates.csv')
hpa_duplicate_score_0 = hpa_duplicates[hpa_duplicates['score']==0]
print('repeting samples ',hpa_duplicate_score_0.shape)
print('ful train df ',train_df.shape)
train_df = train_df[~train_df['ID'].isin(hpa_duplicate_score_0['image2'].values)]#[['ID','Label']]
print('removed train df ',train_df.shape)


TOP = 36

filtered_df_13_less = train_df[(train_df['selected_cells'] >4) & (train_df['selected_cells'] < TOP)] 


filtered_13_high = train_df[train_df['selected_cells'] >=TOP]
filtered_13_high['is_single'] = filtered_13_high[[str(i) for i in range(0,18)]].apply(np.sum, axis=1)
filtered_13_high_single_class = filtered_13_high[filtered_13_high['is_single'] ==1]

filtered_full = pd.concat([filtered_df_13_less, filtered_13_high_single_class])

repeting samples  (94, 3)
ful train df  (21806, 25)
removed train df  (21715, 25)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()

In [109]:
from iterstrat.ml_stratifiers import MultilabelStratifiedKFold

SEED = 1
FOLDS = 5

labels = [str(i) for i in range(19)]

filtered_full = filtered_full.reset_index(drop = True)

skf = MultilabelStratifiedKFold(n_splits=FOLDS, shuffle=True, 
          random_state=SEED)

filtered_full['fold'] = -1
for fold,(idxT,idxV) in enumerate( skf.split(filtered_full,filtered_full[labels].values)):
    filtered_full['fold'][idxV] = fold

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:72: FutureWarning: Pass shuffle=True, random_state=1 as keyword args. From version 1.0 (renaming of 0.25) passing these as positional arguments will result in an error
  "will result in an error", FutureWarning)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

In [110]:
print(filtered_full.shape)
filtered_full.head()

filtered_full = filtered_full.drop(['Unnamed: 0'], axis = 1)
filtered_full.to_csv('../data/train_fold_v6.csv', index = False)

(20523, 26)

### now we will increase this 35 to 50. lets see how this improved my model
we will remove the duplicate images before doing the the extraction steps

In [114]:
train_df = pd.read_csv('../data/cell_mask_study_30000.csv')
hpa_duplicates = pd.read_csv('../data/hpa_duplicates.csv')
hpa_duplicate_score_0 = hpa_duplicates[hpa_duplicates['score']==0]
print('repeting samples ',hpa_duplicate_score_0.shape)
print('ful train df ',train_df.shape)
train_df = train_df[~train_df['ID'].isin(hpa_duplicate_score_0['image2'].values)]#[['ID','Label']]
print('removed train df ',train_df.shape)


TOP = 51

filtered_df_13_less = train_df[(train_df['selected_cells'] >4) & (train_df['selected_cells'] < TOP)] 


filtered_13_high = train_df[train_df['selected_cells'] >=TOP]
filtered_13_high['is_single'] = filtered_13_high[[str(i) for i in range(0,18)]].apply(np.sum, axis=1)
filtered_13_high_single_class = filtered_13_high[filtered_13_high['is_single'] ==1]

filtered_full = pd.concat([filtered_df_13_less, filtered_13_high_single_class])

from iterstrat.ml_stratifiers import MultilabelStratifiedKFold

SEED = 1
FOLDS = 5

labels = [str(i) for i in range(19)]

filtered_full = filtered_full.reset_index(drop = True)

skf = MultilabelStratifiedKFold(n_splits=FOLDS, shuffle=True, 
          random_state=SEED)

filtered_full['fold'] = -1
for fold,(idxT,idxV) in enumerate( skf.split(filtered_full,filtered_full[labels].values)):
    filtered_full['fold'][idxV] = fold
    
print(filtered_full.shape)
filtered_full.head()

filtered_full = filtered_full.drop(['Unnamed: 0'], axis = 1)
filtered_full.to_csv('../data/train_fold_v7.csv', index = False)

repeting samples  (94, 3)
ful train df  (21806, 25)
removed train df  (21715, 25)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:72: FutureWarning: Pass shuffle=True, random_state=1 as keyword args. From version 1.0 (renaming of 0.25) passing these as positional arguments will result in an error
  "will result in an error", FutureWarning)

(21414, 26)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

## 256 size

In [68]:
df_train = pd.read_csv('../data/cell_mask_study_v5.csv')# this is with train_h5_256_40000_v5
train_df = pd.read_csv('../data/cell_mask_study_30000.csv')

In [69]:
print(df_train.shape)
df_train.head(2)

(21806, 63)

,ID,total_cell_mask,selected_cells,Label_x,0_x,1_x,2_x,3_x,4_x,5_x,...,9,10,11,12,13,14,15,16,17,18
0,5c27f04c-bb99-11e8-b2b9-ac1f6b6435d0,8,7,8|5|0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,5fb643ee-bb99-11e8-b2b9-ac1f6b6435d0,15,15,14|0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [70]:
df_train = df_train[['ID','total_cell_mask', 'selected_cells']]

In [71]:
train_df = train_df.drop(['fold', 'total_cell_mask', 'selected_cells', 'Unnamed: 0'], axis = 1)
print(train_df.shape)
train_df.head(2)

(21806, 21)

,ID,Label,0,1,2,3,4,5,6,7,...,9,10,11,12,13,14,15,16,17,18
0,5c27f04c-bb99-11e8-b2b9-ac1f6b6435d0,8|5|0,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,5fb643ee-bb99-11e8-b2b9-ac1f6b6435d0,14|0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [72]:
df_train = df_train.merge(train_df, on = 'ID')

df_train.to_csv('../data/cell_mask_study_v5.csv',index= False)

In [73]:
df_train.head(2)

,ID,total_cell_mask,selected_cells,Label,0,1,2,3,4,5,...,9,10,11,12,13,14,15,16,17,18
0,5c27f04c-bb99-11e8-b2b9-ac1f6b6435d0,8,7,8|5|0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,5fb643ee-bb99-11e8-b2b9-ac1f6b6435d0,15,15,14|0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

# now we will increase this 20 to 35. lets see how this improved my model
we will remove the duplicate images before doing the the extraction steps

In [74]:
hpa_duplicates = pd.read_csv('../data/hpa_duplicates.csv')
train_df = pd.read_csv('../data/cell_mask_study_v5.csv')
hpa_duplicate_score_0 = hpa_duplicates[hpa_duplicates['score']==0]
print('repeting samples ',hpa_duplicate_score_0.shape)
print('ful train df ',train_df.shape)
train_df = train_df[~train_df['ID'].isin(hpa_duplicate_score_0['image2'].values)]#[['ID','Label']]
print('removed train df ',train_df.shape)


TOP = 36

filtered_df_13_less = train_df[(train_df['selected_cells'] >4) & (train_df['selected_cells'] < TOP)] 


filtered_13_high = train_df[train_df['selected_cells'] >=TOP]
filtered_13_high['is_single'] = filtered_13_high[[str(i) for i in range(0,18)]].apply(np.sum, axis=1)
filtered_13_high_single_class = filtered_13_high[filtered_13_high['is_single'] ==1]

filtered_full = pd.concat([filtered_df_13_less, filtered_13_high_single_class])

repeting samples  (94, 3)
ful train df  (21806, 23)
removed train df  (21715, 23)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()

In [75]:
filtered_full.head(2)

,ID,total_cell_mask,selected_cells,Label,0,1,2,3,4,5,...,10,11,12,13,14,15,16,17,18,is_single
0,5c27f04c-bb99-11e8-b2b9-ac1f6b6435d0,8,7,8|5|0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,NaN
1,5fb643ee-bb99-11e8-b2b9-ac1f6b6435d0,15,15,14|0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,NaN

In [76]:
from iterstrat.ml_stratifiers import MultilabelStratifiedKFold

SEED = 1
FOLDS = 5

labels = [str(i) for i in range(19)]

filtered_full = filtered_full.reset_index(drop = True)

skf = MultilabelStratifiedKFold(n_splits=FOLDS, shuffle=True, 
          random_state=SEED)

filtered_full['fold'] = -1
for fold,(idxT,idxV) in enumerate( skf.split(filtered_full,filtered_full[labels].values)):
    filtered_full['fold'][idxV] = fold

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:72: FutureWarning: Pass shuffle=True, random_state=1 as keyword args. From version 1.0 (renaming of 0.25) passing these as positional arguments will result in an error
  "will result in an error", FutureWarning)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

In [79]:
print(filtered_full.shape)
filtered_full.head(5)

(20684, 25)

,ID,total_cell_mask,selected_cells,Label,0,1,2,3,4,5,...,11,12,13,14,15,16,17,18,is_single,fold
0,5c27f04c-bb99-11e8-b2b9-ac1f6b6435d0,8,7,8|5|0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,NaN,2
1,5fb643ee-bb99-11e8-b2b9-ac1f6b6435d0,15,15,14|0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,NaN,2
2,60b57878-bb99-11e8-b2b9-ac1f6b6435d0,17,16,6|1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,3
3,5c1a898e-bb99-11e8-b2b9-ac1f6b6435d0,17,17,16|10,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,NaN,4
4,5e22a522-bb99-11e8-b2b9-ac1f6b6435d0,10,9,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,4

In [80]:
filtered_full.to_csv('../data/train_fold_v8.csv', index = False)

## EXtra data

In [7]:
extra_df = pd.read_csv('../data/train_ext/kaggle_2021.tsv')
extra_df.head()

,Image,Label,Cellline,in_trainset,Label_idx
0,https://images.proteinatlas.org/10005/921_B9_1,Cytosol,A-431,False,16
1,https://images.proteinatlas.org/10005/921_B9_2,Cytosol,A-431,False,16
2,https://images.proteinatlas.org/10005/923_B9_1,Cytosol,U-251 MG,False,16
3,https://images.proteinatlas.org/10005/923_B9_2,Cytosol,U-251 MG,False,16
4,https://images.proteinatlas.org/10005/931_B9_1,Cytosol,U-2 OS,False,16

In [11]:
extra_df['ID'] = extra_df['Image'].apply(lambda x: x.split('/')[-1])
extra_df.head()

,Image,Label,Cellline,in_trainset,Label_idx,ID
0,https://images.proteinatlas.org/10005/921_B9_1,Cytosol,A-431,False,16,921_B9_1
1,https://images.proteinatlas.org/10005/921_B9_2,Cytosol,A-431,False,16,921_B9_2
2,https://images.proteinatlas.org/10005/923_B9_1,Cytosol,U-251 MG,False,16,923_B9_1
3,https://images.proteinatlas.org/10005/923_B9_2,Cytosol,U-251 MG,False,16,923_B9_2
4,https://images.proteinatlas.org/10005/931_B9_1,Cytosol,U-2 OS,False,16,931_B9_1

In [12]:
extra_df.shape

(82495, 6)

In [3]:
vv = os.listdir('../data/train_ext/HPA-Challenge-2021-trainset-extra')
print(len(vv))
print(vv[:5])

91529
['154_C1_2_yellow.png', '1216_E4_2_blue.png', '727_F8_1_yellow.png', '113_C8_2_green.png', '154_D10_1_red.png']

In [19]:
#lets split the files . i know that repititions of same file name exist . but its not a prob
file_name_list = [f"{i.split('_')[0]}_{i.split('_')[1]}_{i.split('_')[2]}" for i in vv]
print(len(file_name_list))
print(file_name_list[:5])

91529
['154_C1_2', '1216_E4_2', '727_F8_1', '113_C8_2', '154_D10_1']

In [20]:
extra_actual_df = extra_df[extra_df['ID'].isin(file_name_list)]
extra_actual_df.shape

(23114, 6)

In [23]:
extra_actual_df['ID'].unique().shape

(23114,)

In [24]:
extra_actual_df.to_csv('../data/train_ext/extra_data.csv')

## due to some issue , we have only partial image data available . so we have to remove ID that are not with use as of now

In [2]:
extra_actual_df = pd.read_csv('../data/train_ext/extra_data.csv')

In [7]:
print(extra_actual_df.shape)
extra_actual_df.head()

(23114, 7)

,Unnamed: 0,Image,Label,Cellline,in_trainset,Label_idx,ID
0,6,https://images.proteinatlas.org/10007/1876_A7_32,Endoplasmic reticulum,ASC TERT1,False,6,1876_A7_32
1,7,https://images.proteinatlas.org/10007/1876_A7_37,Endoplasmic reticulum,ASC TERT1,False,6,1876_A7_37
2,8,https://images.proteinatlas.org/10007/1901_A10_2,Vesicles,U-2 OS,False,17,1901_A10_2
3,9,https://images.proteinatlas.org/10007/1901_A10_3,Vesicles,U-2 OS,False,17,1901_A10_3
4,10,https://images.proteinatlas.org/10007/1936_E4_2,Endoplasmic reticulum,BJ,False,6,1936_E4_2

In [16]:
file_name = [i.split('.')[0] for i in os.listdir('../data/train_ext/mask/')]
print(file_name[:2])

['1564_A6_2', '622_G6_5']

In [17]:
if '1891_N5_28' in file_name:
    print('yes')

yes

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [24]:
extra_cutdown_df = extra_actual_df[extra_actual_df['ID'].isin(file_name)]
extra_cutdown_df = extra_cutdown_df[~extra_cutdown_df['ID'].isin(['1891_N5_28'])]
print(extra_cutdown_df.shape)

(11945, 7)

In [14]:
extra_cutdown_df.head()

,Unnamed: 0,Image,Label,Cellline,in_trainset,Label_idx,ID
0,6,https://images.proteinatlas.org/10007/1876_A7_32,Endoplasmic reticulum,ASC TERT1,False,6,1876_A7_32
1,7,https://images.proteinatlas.org/10007/1876_A7_37,Endoplasmic reticulum,ASC TERT1,False,6,1876_A7_37
2,8,https://images.proteinatlas.org/10007/1901_A10_2,Vesicles,U-2 OS,False,17,1901_A10_2
3,9,https://images.proteinatlas.org/10007/1901_A10_3,Vesicles,U-2 OS,False,17,1901_A10_3
4,10,https://images.proteinatlas.org/10007/1936_E4_2,Endoplasmic reticulum,BJ,False,6,1936_E4_2

In [25]:
extra_cutdown_df = extra_cutdown_df.drop(['Unnamed: 0'], axis=1)
extra_cutdown_df.to_csv('../data/train_ext/extra_cutdown_data.csv', index= False)