In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
train_df = pd.read_csv('../../data/cell_mask_study_30000.csv')

In [3]:
train_df.head()

,Unnamed: 0,ID,Label,0,1,2,3,4,5,6,...,12,13,14,15,16,17,18,fold,total_cell_mask,selected_cells
0,0,5c27f04c-bb99-11e8-b2b9-ac1f6b6435d0,8|5|0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,8,7
1,1,5fb643ee-bb99-11e8-b2b9-ac1f6b6435d0,14|0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,15,15
2,2,60b57878-bb99-11e8-b2b9-ac1f6b6435d0,6|1,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,2,17,16
3,3,5c1a898e-bb99-11e8-b2b9-ac1f6b6435d0,16|10,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,2,17,17
4,4,5b931256-bb99-11e8-b2b9-ac1f6b6435d0,14|0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,45,43

## lets use only samples greater than 10. lets see how it goes

In [4]:
filtered_df_10_greater = train_df[(train_df['selected_cells'] >10) ]

In [5]:
actual_cells = []
PATH = '../../data/train_h5_256_40000_v5/'
for i in filtered_df_10_greater['ID'].values:
    actual_cells.append(len(os.listdir(os.path.join(PATH, i))))

In [6]:
filtered_df_10_greater['actual_cells'] = actual_cells
filtered_df_10_greater.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Unnamed: 0,ID,Label,0,1,2,3,4,5,6,...,13,14,15,16,17,18,fold,total_cell_mask,selected_cells,actual_cells
1,1,5fb643ee-bb99-11e8-b2b9-ac1f6b6435d0,14|0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,1,15,15,15
2,2,60b57878-bb99-11e8-b2b9-ac1f6b6435d0,6|1,0,1,0,0,0,0,1,...,0,0,0,0,0,0,2,17,16,16
3,3,5c1a898e-bb99-11e8-b2b9-ac1f6b6435d0,16|10,0,0,0,0,0,0,0,...,0,0,0,1,0,0,2,17,17,17
4,4,5b931256-bb99-11e8-b2b9-ac1f6b6435d0,14|0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,45,43,41
6,6,5f79a114-bb99-11e8-b2b9-ac1f6b6435d0,14,0,0,0,0,0,0,0,...,0,1,0,0,0,0,4,15,15,15

In [7]:
cells_count = 6
total_samples = filtered_df_10_greater.shape[0]

ID_list = []
count_list = []
count = []
Label_list = []
for i in range(total_samples):
#for i in range(2):
    info = filtered_df_10_greater.iloc[i]
    ids = info["ID"]
    actual_c = info["actual_cells"]
    label_c = info["Label"]
    cells_c = [v for v in range(1,actual_c+1)]
    for v in range(1, actual_c+1, cells_count):
        #print(v)
        start = v
        end = min(start+cells_count, actual_c+1)
        #print(f'start {start} end {end}')
        ID_list.append(ids)
        count_list.append([j for j in range(start,end)])
        count.append(len([j for j in range(start,end)]))
        Label_list.append(label_c)

In [10]:
ou_df = pd.DataFrame.from_dict({'ID':ID_list,"count_list":count_list, 'count': count, 'Label' : Label_list})

In [26]:
labels = [str(i) for i in range(19)]
for x in labels: ou_df[x] = ou_df['Label'].apply(lambda r: int(x in r.split('|')))
#ou_df.to_csv('../../data/ou.csv',index = False)
ou_df.head()
print(ou_df.dtypes)

ID            object
count_list    object
count          int64
Label         object
0              int64
1              int64
2              int64
3              int64
4              int64
5              int64
6              int64
7              int64
8              int64
9              int64
10             int64
11             int64
12             int64
13             int64
14             int64
15             int64
16             int64
17             int64
18             int64
dtype: object

In [15]:
type(ou_df['count_list'].values[0])

list

In [19]:
type(ou_df.iloc[0]['count_list'])

list

In [27]:
ou_df = pd.read_csv('../../data/ou.csv')
print(ou_df.dtypes)

ID            object
count_list    object
count          int64
Label         object
0              int64
1              int64
2              int64
3              int64
4              int64
5              int64
6              int64
7              int64
8              int64
9              int64
10             int64
11             int64
12             int64
13             int64
14             int64
15             int64
16             int64
17             int64
18             int64
dtype: object

In [28]:
ou_df['count_list'].values

array(['[1, 2, 3, 4, 5, 6]', '[7, 8, 9, 10, 11, 12]', '[13, 14, 15]', ...,
       '[13, 14, 15, 16, 17, 18]', '[19, 20, 21, 22, 23, 24]',
       '[25, 26, 27, 28, 29]'], dtype=object)

In [24]:
type(ou_df.iloc[0]['count_list'])

AttributeError: 'str' object has no attribute 'as_type'