In [1]:
import pandas as pd
import numpy as np

### lets work on 6_6 first

In [2]:
##
pd_6_6_v100 = pd.read_csv('../../data/submissions/test_v6_6_loss/stage_1.csv')
pd_6_6_p100 = pd.read_csv('../../data/str_kag/stage_1_6_6.csv')

In [3]:
pd_6_6_v100.head(3)

,ID,count,encoding,0,1,2,3,4,5,6,...,9,10,11,12,13,14,15,16,17,18
0,0040581b-f1f2-4fbe-b043-b6bfea5404bb,1,eNqtVm2PojAQ/ksMZe+Sy21yubtc4gKDIkpBUJQ3KyD//9...,0.336334,0.033897,0.301812,0.447226,0.090477,0.169021,0.145265,...,0.124362,0.060528,0.065688,0.185014,0.170284,0.084668,0.060342,0.435709,0.336736,0.088017
1,0040581b-f1f2-4fbe-b043-b6bfea5404bb,2,eNrVUm1PwkAM/kvt3XgRjEajvO7uhGCEEHCgcSQi/v9vXt...,0.110140,0.016685,0.488759,0.466848,0.033412,0.026571,0.235993,...,0.157504,0.025630,0.019908,0.107970,0.123429,0.112150,0.051560,0.498646,0.257160,0.009427
2,0040581b-f1f2-4fbe-b043-b6bfea5404bb,3,eNoLCEgJMg4wDMg3NPQ39Df2NfaF0EZ+IBoBIXzc8oSgAR...,0.411060,0.045896,0.503939,0.271923,0.154735,0.150925,0.119339,...,0.141826,0.034614,0.052269,0.156636,0.146763,0.067964,0.114447,0.342994,0.394549,0.054016

In [4]:
pd_6_6_p100.head(3)

,ID,count,encoding,0,1,2,3,4,5,6,...,9,10,11,12,13,14,15,16,17,18
0,8d477a7e-9352-41a6-b3e1-443b68706399,1,eNozyLIJSzY0wAr8DUEQwoLxECyYOC71qKLo0M/I1xhE+x...,0.038846,0.026739,0.059505,0.052705,0.032605,0.059442,0.142242,...,0.107342,0.049683,0.077937,0.150065,0.089630,0.363019,0.110873,0.193161,0.464979,0.046881
1,8d477a7e-9352-41a6-b3e1-443b68706399,2,eNqVVG1zojAQ/kvZgOKc3k1vxrbimY2iAioiiMeLWvr/v1...,0.030107,0.019716,0.026246,0.027619,0.010723,0.020253,0.128989,...,0.029744,0.024324,0.069586,0.084690,0.049807,0.154904,0.074636,0.125905,0.729275,0.038762
2,8d477a7e-9352-41a6-b3e1-443b68706399,3,eNqtmGtz4sgOhv+S2pDMbkiBmWGrDknoNm7b+AK+39uX//...,0.039451,0.024488,0.035825,0.031526,0.029767,0.025495,0.136762,...,0.037929,0.034481,0.094152,0.109567,0.044919,0.088081,0.052628,0.160041,0.659378,0.024246

In [9]:
### lets extract the unique token from p100
p100_unique_val = pd_6_6_p100['ID'].unique()

pd_6_6_v100_filtered = pd_6_6_v100[pd_6_6_v100['ID'].isin(p100_unique_val)]

In [10]:
print(pd_6_6_v100_filtered.shape, pd_6_6_p100.shape)

(4645, 22) (4645, 22)

In [22]:
pd_6_6_v100_filtered.head(5)

,ID,count,encoding,0,1,2,3,4,5,6,...,9,10,11,12,13,14,15,16,17,18
5440,8d477a7e-9352-41a6-b3e1-443b68706399,1,eNozyLIJSzY0wAr8DUEQwoLxECyYOC71qKLo0M/I1xhE+x...,0.048114,0.032313,0.066975,0.054846,0.040440,0.080791,0.153878,...,0.092289,0.045569,0.065016,0.154321,0.081714,0.396415,0.127488,0.194507,0.460120,0.050187
5441,8d477a7e-9352-41a6-b3e1-443b68706399,2,eNqVVG1zojAQ/kvZgOKc3k1vxrbimY2iAioiiMeLWvr/v1...,0.026828,0.019440,0.024891,0.027825,0.009688,0.022047,0.122037,...,0.023244,0.025720,0.061284,0.086908,0.041050,0.192658,0.078186,0.116051,0.718997,0.028659
5442,8d477a7e-9352-41a6-b3e1-443b68706399,3,eNqtmGtz4sgOhv+S2pDMbkiBmWGrDknoNm7b+AK+39uX//...,0.036135,0.022162,0.031217,0.028497,0.023605,0.024564,0.144099,...,0.027884,0.033812,0.086335,0.100941,0.038874,0.093273,0.052867,0.151393,0.656237,0.019997
5443,8d477a7e-9352-41a6-b3e1-443b68706399,4,eNqVlWlz2zYQhv8SlnIuJ22TtkkcJVyAtyjxpiSS4oH//6...,0.014125,0.015832,0.025613,0.021179,0.012602,0.013291,0.113240,...,0.031738,0.015238,0.057369,0.028941,0.064536,0.096962,0.048813,0.168891,0.859371,0.024107
5444,8d477a7e-9352-41a6-b3e1-443b68706399,5,eNqFkn9vm0AMhr+SHZJJ67Jmaqdpk8BXSgkhhePuSEkITf...,0.034290,0.012421,0.028531,0.019636,0.036255,0.037132,0.076270,...,0.038519,0.011289,0.047726,0.062111,0.042514,0.101198,0.072967,0.200967,0.696182,0.023195

In [23]:
pd_6_6_p100.head(5)

,ID,count,encoding,0,1,2,3,4,5,6,...,9,10,11,12,13,14,15,16,17,18
0,8d477a7e-9352-41a6-b3e1-443b68706399,1,eNozyLIJSzY0wAr8DUEQwoLxECyYOC71qKLo0M/I1xhE+x...,0.038846,0.026739,0.059505,0.052705,0.032605,0.059442,0.142242,...,0.107342,0.049683,0.077937,0.150065,0.089630,0.363019,0.110873,0.193161,0.464979,0.046881
1,8d477a7e-9352-41a6-b3e1-443b68706399,2,eNqVVG1zojAQ/kvZgOKc3k1vxrbimY2iAioiiMeLWvr/v1...,0.030107,0.019716,0.026246,0.027619,0.010723,0.020253,0.128989,...,0.029744,0.024324,0.069586,0.084690,0.049807,0.154904,0.074636,0.125905,0.729275,0.038762
2,8d477a7e-9352-41a6-b3e1-443b68706399,3,eNqtmGtz4sgOhv+S2pDMbkiBmWGrDknoNm7b+AK+39uX//...,0.039451,0.024488,0.035825,0.031526,0.029767,0.025495,0.136762,...,0.037929,0.034481,0.094152,0.109567,0.044919,0.088081,0.052628,0.160041,0.659378,0.024246
3,8d477a7e-9352-41a6-b3e1-443b68706399,4,eNqVlWlz2zYQhv8SlnIuJ22TtkkcJVyAtyjxpiSS4oH//6...,0.024222,0.019539,0.030543,0.024718,0.019556,0.019860,0.116427,...,0.052279,0.024626,0.078798,0.042839,0.100404,0.080030,0.055913,0.193488,0.801113,0.041465
4,8d477a7e-9352-41a6-b3e1-443b68706399,5,eNqFkn9vm0AMhr+SHZJJ67Jmaqdpk8BXSgkhhePuSEkITf...,0.044570,0.013667,0.027282,0.020031,0.036936,0.038234,0.074293,...,0.050978,0.015457,0.056301,0.072302,0.061422,0.092807,0.071544,0.188640,0.670855,0.025542

In [16]:
lets_different = pd_6_6_v100_filtered[[str(i) for i in range(19)]].values - pd_6_6_p100[[str(i) for i in range(19)]].values

In [18]:
lets_different.shape

(4645, 19)

In [19]:
mean_6_6 = lets_different.mean(0)
mean_6_6.shape

(19,)

In [20]:
mean_6_6

array([ 0.00126825,  0.00039433, -0.00298783, -0.00483521, -0.00206215,
        0.00228183, -0.00136206, -0.00394024, -0.0004849 ,  0.00118678,
       -0.00428291, -0.01004671, -0.0018782 , -0.01989582,  0.00010431,
        0.00221077, -0.00807183,  0.00977799, -0.00077885])

In [21]:
pd_6_6_p100[[str(i) for i in range(19)]].values + mean_6_6

array([[0.04011431, 0.02713377, 0.05651764, ..., 0.18508953, 0.47475734,
        0.04610255],
       [0.0313751 , 0.02011081, 0.02325799, ..., 0.11783278, 0.73905274,
        0.03798266],
       [0.04071915, 0.02488252, 0.03283667, ..., 0.15196931, 0.66915557,
        0.02346763],
       ...,
       [0.10247988, 0.02854594, 0.05428882, ..., 0.40847917, 0.42607972,
        0.03288464],
       [0.04774037, 0.01475676, 0.05124809, ..., 0.43669511, 0.69046757,
        0.02289279],
       [0.09163062, 0.03327933, 0.14431727, ..., 0.41750197, 0.53425089,
        0.05489471]])

## lets work on 6_6_2

In [24]:
pd_6_6_2_v100 = pd.read_csv('../../data/submissions/test_v6_6_2_loss/stage_1.csv')
pd_6_6_2_p100 = pd.read_csv('../../data/str_kag/stage_1_6_6_2.csv')
p100_unique_val = pd_6_6_2_p100['ID'].unique()

pd_6_6_2_v100_filtered = pd_6_6_2_v100[pd_6_6_2_v100['ID'].isin(p100_unique_val)]
print(pd_6_6_2_v100_filtered.shape, pd_6_6_2_p100.shape)
lets_different = pd_6_6_2_v100_filtered[[str(i) for i in range(19)]].values - pd_6_6_2_p100[[str(i) for i in range(19)]].values
mean_6_6_2 = lets_different.mean(0)
print(mean_6_6_2.shape)
print(mean_6_6_2)

(4645, 22) (4645, 22)
(19,)
[ 0.00952824 -0.00067161 -0.00406931 -0.01572935 -0.00941862 -0.00464099
 -0.00453753 -0.00544914 -0.00610296 -0.00602891 -0.01704905 -0.01124809
 -0.00693375 -0.00807967 -0.00956427 -0.00285259  0.00625128 -0.01257564
 -0.00532578]

## lets work on 6_6_3

In [25]:
pd_6_6_3_v100 = pd.read_csv('../../data/submissions/test_v6_6_3_loss/stage_1.csv')
pd_6_6_3_p100 = pd.read_csv('../../data/str_kag/stage_1_6_6_3.csv')
p100_unique_val = pd_6_6_3_p100['ID'].unique()

pd_6_6_3_v100_filtered = pd_6_6_3_v100[pd_6_6_3_v100['ID'].isin(p100_unique_val)]
print(pd_6_6_3_v100_filtered.shape, pd_6_6_3_p100.shape)
lets_different = pd_6_6_3_v100_filtered[[str(i) for i in range(19)]].values - pd_6_6_3_p100[[str(i) for i in range(19)]].values
mean_6_6_3 = lets_different.mean(0)
print(mean_6_6_3.shape)
print(mean_6_6_3)

(4645, 22) (4645, 22)
(19,)
[0.07244843 0.11100772 0.14359498 0.12699801 0.10319395 0.16412027
 0.14399723 0.14794244 0.16423023 0.14664259 0.12257733 0.16573862
 0.16520791 0.09597371 0.11480522 0.12565373 0.13639804 0.11707327
 0.13691235]